name: "Test and Deploy"

on:
  push:
    branches:
      - master
      - soroban
  pull_request:
  release:
    types:
      - created

env:
  JAVA_VERSION: '11'
  JAVA_DISTRIBUTION: 'microsoft'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRIBUTION }}
      - name: Test
        run: ./gradlew check

  shadow_jar:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRIBUTION }}
      - name: Build JAR
        run: ./gradlew shadowJar
      - name: Persist JAR Artifact
        uses: actions/upload-artifact@v3
        with:
          name: jar
          path: build/libs/stellar-sdk.jar

  javadoc:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRIBUTION }}
      - name: Generate Documentation
        run: ./gradlew javadoc
      - name: Persist Documentation
        uses: actions/upload-artifact@v3
        with:
          name: javadoc
          path: javadoc

  javadoc_jar:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRIBUTION }}
      - name: Generate JavaDoc Jar
        run: ./gradlew javadocJar
      - name: Persist Documentation
        uses: actions/upload-artifact@v3
        with:
          name: javadoc_jar
          path: build/libs/stellar-sdk-javadoc.jar

  android-test:
    needs: shadow_jar
    runs-on: macos-13
    name: android-test (api ${{ matrix.emulator.api-level }})
    strategy:
      fail-fast: false
      matrix:
        # minSdk and targetSdk, see ${project_root}/android_test/app/build.gradle.kts
        # TODO: Investigate why it is unstable on API 33.
        emulator: [
          { api-level: 26, target: google_apis },
          { api-level: 33, target: playstore }
        ]
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: Download JAR Artifact
        uses: actions/download-artifact@v2
        with:
          name: jar
          path: android_test/app/libs/
      - uses: actions/setup-java@v3
        with:
          java-version: 17 # TODO: Android Gradle plugin requires Java 11, consider replacing other parts with Java 17.
          distribution: ${{ env.JAVA_DISTRIBUTION }}
      - name: run tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          working-directory: ./android_test
          api-level: ${{ matrix.emulator.api-level }}
          target: ${{ matrix.emulator.target }}
          script: ./gradlew connectedCheck
          arch: x86_64
          profile: 'pixel_2'

  deploy:
    needs: [ javadoc, shadow_jar ]  # TODO: add android-test when it is stable.
    permissions:
      contents: write
    if: github.event_name == 'release' && github.event.action == 'created'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Download JAR Artifact
        uses: actions/download-artifact@v2
        with:
          name: jar
          path: jar
      - name: Download Java Documentation
        uses: actions/download-artifact@v2
        with:
          name: javadoc
          path: javadoc
      - name: Download javadocJar
        uses: actions/download-artifact@v2
        with:
          name: javadoc_jar
          path: javadoc_jar
      - name: Archive Documentation
        run: tar -czf stellar-sdk-javadoc.tar.gz javadoc
      - name: Upload artifacts to GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            jar/stellar-sdk.jar
            javadoc_jar/stellar-sdk-javadoc.jar
            stellar-sdk-javadoc.tar.gz
      - name: Upload Documentation to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: javadoc

